<h1>All Tags</h1>

<ul id="tags">
  <% @tags.each do |tag| %>
    <li>
      <%= link_to tag.name, tag, class: 'tag_name' %>
      <%= link_to 'Delete', blog_tag_path(tag), method: :delete, data: {confirm: "Really delete this tag?"} %> |
    </li>
  <% end %>
</ul>
