
img {
  outline: 0;
  vertical-align: top;
}

.logo {
  padding-bottom: 6px;
  img {
    max-width: 100%;
  }
}





#main_slider {
  padding-bottom: 70px;
}

.planning {
  padding-bottom: 50px;
  text-align: center;
  a {
    display: block;
    margin-bottom: 15px;
    padding: 0;
    color: #3a3a3a;
    span {
      &.img_icon {
        display: block;
        width: 70px;
        height: 70px;
        margin: 0 auto 14px auto;
      }
      &.icon1 {
        background-image: url(../img/icon1.png);
        background-position: left top;
        background-repeat: no-repeat;
      }
    }
    &:hover span.icon1 {
      background-position: left bottom;
    }
    span.icon2 {
      background-image: url(../img/icon2.png);
      background-position: left top;
      background-repeat: no-repeat;
    }
    &:hover span.icon2 {
      background-position: left bottom;
    }
    span.icon3 {
      background-image: url(../img/icon3.png);
      background-position: left top;
      background-repeat: no-repeat;
    }
    &:hover span.icon3 {
      background-position: left bottom;
    }
    span.icon4 {
      background-image: url(../img/icon4.png);
      background-position: left top;
      background-repeat: no-repeat;
    }
    &:hover span.icon4 {
      background-position: left bottom;
    }
    span.link_title {
      display: block;
      line-height: 24px;
      font-size: 20px;
      text-transform: uppercase;
      font-family: 'Open Sans', sans-serif;
      font-weight: 800;
      padding-bottom: 8px;
      color: #313131;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

.welcome_block {
  text-align: center;
  padding: 36px 0;
  line-height: 20px;
  font-size: 18px;
  color: #3b3b3b;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  position: relative;
  text-transform: uppercase;
  span {
    line-height: 31px;
    padding-top: 7px;
    font-size: 30px;
    display: block;
  }
}

.welcome_line {
  height: 1px;
  background: url(../img/welcome_bg.png) no-repeat center top;
  position: absolute;
  left: 0;
  right: 0;
}

.welcome_t {
  top: 0;
}

.welcome_b {
  bottom: 0;
}



.post_carousel img {
  border-radius: 3px;
}

.portfolio_zoom1 {
  display: none;
  width: 40px;
  height: 40px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  background-image: url(../img/zoom1.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  z-index: 2;
}

.hover_img:hover .portfolio_zoom1 {
  display: block;
}

.post_carousel {
  padding-bottom: 12px;
  color: #1e1e1e;
  .title_t {
    line-height: 20px;
    padding: 14px 0 5px 0;
    font-size: 17px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #d00b01;
  }
}

.news_t {
  line-height: 20px;
  padding: 14px 0 5px 0;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #d00b01;
}

.post_carousel .title_t a, .news_t a {
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #d00b01;
}

.post_carousel .title_t a:hover, .news_t a:hover {
  text-decoration: none;
  color: #313131;
}

.post_meta, .news {
  color: #9d9d9d;
  font-style: italic;
  padding-bottom: 8px;
}

.post_meta span, news span {
  padding: 0 7px;
}

.post_meta a, .news a {
  color: #9d9d9d;
  font-style: italic;
}

.post_meta a:hover, .news a:hover {
  color: #d00b01;
  text-decoration: none;
}

.arrow_link {
  font-style: italic;
  color: #d00b01;
  &:hover {
    text-decoration: none;
    color: #1e1e1e;
  }
}

.block {
  &:last-child {
    padding-bottom: 0;
  }
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
}


.news_date {
  width: 60px;
  height: 50px;
  padding: 20px 5px 0 5px;
  line-height: 14px;
  color: #1e1e1e;
  font-size: 12px;
  text-transform: uppercase;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background: #d1d1d1;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  float: left;
  margin: 0 13px 5px 0;
  text-align: center;
  span {
    display: block;
    font-size: 17px;
  }
}

.news_t {
  line-height: 17px !important;
  padding: 0 0 8px 0 !important;
}

.news {
  padding: 0 0 5px 0 !important;
  line-height: 16px !important;
}

.news_info {
  color: #1e1e1e;
  a {
    color: #d00b01;
    font-style: italic;
    &:hover {
      color: #1e1e1e;
      text-decoration: none;
    }
  }
}



ul.tweets li {
  padding: 0 0 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px #eaeaea solid;
}

.tweet_arrows {
  width: 22px;
  height: 22px;
  background: url(../img/twitter.png) no-repeat left top;
  float: left;
  margin: 0 8px 0 0;
  display: block;
}



.flickrs {
  margin-right: -10px;
}

.FlickrImages li {
  margin: 0 6px 6px 0 !important;
  padding: 0 !important;
  float: left;
  border: 0 !important;
  a {
    display: block;
    width: 63px !important;
    height: 63px !important;
    overflow: hidden;
    float: left;
    img {
      width: 63px !important;
      height: 63px !important;
      border: 0;
      border-radius: 3px;
    }
  }
}




.profile {
  text-align: center;
}

.profile_title {
  font-size: 14px;
  margin-bottom: 5px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #3a3a3a;
}

.profile img {
  margin: 10px auto 15px auto;
  width: 169px;
  border-radius: 3px;
}

legend {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

/* Portfolio */

.portfolio_zoom {
  display: none;
  width: 33px;
  height: 33px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -33px;
  background-image: url(../img/zoom.png);
  background-position: 0 -33px;
  background-repeat: no-repeat;
  z-index: 2;
}

.portfolio_link {
  display: none;
  width: 33px;
  height: 33px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -13px 0 0 -33px;
  background-image: url(../img/zoom.png);
  background-position: 0 -33px;
  background-repeat: no-repeat;
  z-index: 2;
  margin: -13px 0 0 1px;
  background-image: url(../img/link.png);
}

.portfolio_zoom:hover, .portfolio_link:hover {
  background-position: 0 0;
}

.portfolio_zoom a, .portfolio_link a {
  display: block;
  width: 33px;
  height: 33px;
  text-indent: -9999px;
}

.hover_img:hover {
  .portfolio_zoom, .portfolio_link, .item_description {
    display: block;
  }
}

.item_description {
  text-align: center;
  color: #313131;
  h6 {
    font-weight: 800;
    margin: 10px 0 10px 0;
    text-transform: uppercase;
  }
}

/**** Isotope Filtering ****/

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

/**** Isotope CSS3 transitions ****/

.isotope {
  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
  .isotope-item {
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property: -moz-transform, opacity;
    transition-property: transform, opacity;
  }
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
  &.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
    .isotope-item {
      -webkit-transition-duration: 0s;
      -moz-transition-duration: 0s;
      transition-duration: 0s;
    }
  }
  .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    transition-duration: 0s;
  }
  &.infinite-scrolling {
    -webkit-transition: none;
    -moz-transition: none;
    transition: none;
  }
}

/**** disabling Isotope CSS3 transitions ****/

/* End: Recommended Isotope styles */
/* disable CSS transitions for containers with infinite scrolling*/

.element {
  overflow: hidden;
  position: relative;
  margin-bottom: 20px;
  img {
    max-width: 100%;
  }
}

#options {
  padding: 0 0 10px 0;
}

#filters {
  position: relative;
  padding: 0;
  margin: 25px 0 0 0;
  li {
    display: block;
    margin: 0 10px 10px 0;
    float: left;
    padding: 0;
    list-style: none;
    a.selected {
      color: #fff;
      background: #d00b01;
      text-decoration: none;
    }
  }
}

.preloader {
  background: url(../img/preload_img.gif) center center no-repeat;
  display: block;
}

#portfolio_carousel {
  margin-bottom: 20px;
  img {
    border-radius: 3px;
  }
  .carousel-control {
    position: absolute;
    top: 50%;
    left: 15px;
    width: 33px;
    height: 33px;
    margin-top: -17px;
    background-image: url(../img/portfolio_nav.png);
    background-position: 0 -33px;
    background-repeat: no-repeat;
    outline: none;
    &.right {
      background-position: -102px -33px;
      left: auto;
      right: 15px;
      &:hover {
        background-position: -102px 0;
      }
    }
    &:hover {
      background-position: 0 0;
    }
  }
}

.pad25 {
  padding-top: 25px;
}

.pad5 {
  padding-top: 5px;
}

.marg20 {
  margin-top: 20px !important;
}


ul.links {
  margin-bottom: 15px;
  li {
    padding: 0 0 3px 17px;
    margin: 0;
    color: #313131;
    background: url(../img/li_arrow.png) no-repeat left top;
    a {
      color: #313131;
      &:hover {
        color: #d00b01;
      }
    }
  }
}



.post img {
  border-radius: 3px;
}

.sidebar {
  padding-top: 9px;
  .tweet_arrows {
    display: none;
  }
}

.widget {
  margin-bottom: 25px;
}

.sidebar h2.title {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 18px;
}

ul {
  &.recent_post, &.tweets, &.links {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  &.recent_post {
    li {
      padding: 0 0 8px 0;
      margin-bottom: 13px;
      border-bottom: 1px #dadada dotted;
      color: #313131;
      &:last-child {
        border-bottom: 0;
        margin-bottom: 18px;
      }
      img {
        float: left;
        margin-right: 15px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
      }
    }
    div {
      padding: 3px 0 2px 0;
      a {
        color: #313131;
        &:hover {
          color: #d00b01;
        }
      }
    }
  }
}

.tags a {
  display: inline-block;
  margin: 0 14px 16px 0;
  height: 33px;
  line-height: 33px;
  background-image: url(../img/tag_bg.png);
  background-position: 100% 0;
  background-repeat: no-repeat;
  padding: 0 26px 0 11px;
  border-left: 1px #e3e3e3 solid;
  color: #646464;
  &:hover {
    background-position: 100% -33px;
    border-left: 1px #d00b01 solid;
    color: #fff;
    text-decoration: none;
  }
}

.sidebar input.search-query {
  padding: 5px 6px 6px 6px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#comments {
  padding: 0 0 7px 0;
  margin-bottom: 25px;
  ul, ol {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  li {
    padding: 0 0 23px 0;
    list-style: none;
  }
}

.avatar {
  float: left;
  margin-right: 11px;
  img {
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }
}

.comment_right {
  display: table;
}

.comment_info {
  padding-bottom: 7px;
  span {
    padding: 0 12px;
  }
}

#comments ol li ul li {
  padding: 23px 0 0 30px;
  margin: 0;
}

#map {
  margin: 0 0 15px 0;
  padding-top: 6px;
}

.contact_form {
  padding-top: 6px;
  textarea {
    min-height: 260px !important;
  }
}

.notification_error {
  color: #b94a48;
  background-color: #f2dede;
  border: 1px #eed3d7 solid;
  height: auto;
  margin: 0 0 9px 0;
  padding: 10px;
  text-align: left;
}

.notification_ok {
  color: #3a87ad;
  background-color: #d9edf7;
  border: 1px #bce8f1 solid;
  height: auto;
  margin: 0 0 9px 0;
  padding: 10px;
  text-align: center;
}
